body{
    background: linear-gradient(
        lightblue,  pink, white, lightblue
    );
    height: 100vh;
}

.styling{
    text-align: center;
}
.styling button{
    height: 50px;
    width: 400px;
    margin: 50px;
    border: 0px solid black;
    background-color: lightcoral;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;

}

.styling button:hover {
    background-color: brown;
    color: white;
}


.component {
    width: 600px;
    height: 300px;
    background-color: lightyellow;
    border: 1px solid black ;
    border-radius: 40px;
}

.functioncard {
    position: absolute;
    left: 10%;

}

.classcard {
    position: absolute;
    right: 10%;
}